* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.1em;
  border: none;
  user-select: none;
}

body {
  background-color: #222;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #999;
  border-radius: 0px 0px 10px 10px;
}
#btn-menu {
  width: 50px;
  background-color: #999;
  padding-top: 5px;
}

#btn-menu:hover {
  cursor: pointer;
}

#toggle-menu {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

#toggle-menu li {
  background-color: #777;
  color: #222;
  border-radius: 10px;
  padding: 10px 15px;
  transition: ease-in 0.2s;

}

#toggle-menu li:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease-out 0.2s;
}

.inactive {
  display: none !important;
}
